export(bayesmeta, bayesmeta.default, bayesmeta.escalc,
       print.bayesmeta, summary.bayesmeta, plot.bayesmeta, forest.bayesmeta,
       dlomax, dhalfnormal, dhalft, dhalfcauchy, dinvchisq, drayleigh,
       TurnerEtAlParameters, TurnerEtAlPrior,
       RhodesEtAlParameters, RhodesEtAlPrior)

S3method(bayesmeta, default)
S3method(bayesmeta, escalc)
S3method(print, bayesmeta)
S3method(summary, bayesmeta)
S3method(plot, bayesmeta)

importFrom("grDevices", "grey")
importFrom("graphics", "abline", "axis", "box", "contour", "image",
           "lines", "matlines", "mtext", "par", "plot", "points",
           "polygon")
importFrom("stats", "dlnorm", "dnorm", "dt", "integrate", "optim",
           "optimize", "plnorm", "pnorm", "pt", "qchisq", "qlnorm",
           "qnorm", "qt", "rnorm", "runif", "uniroot")
